
.App {
  text-align: center;
  /* box-sizing: border-box; */
}

/* fonts  */

body{
  background-color: #461220 ;
  color: #fed0bb;
  padding: 0;
  margin: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* 
map */
#map{
  height: 400px;
  width: 100%;
}

/* NavBar */
  .nav-container{
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: block;
  }


/* Login  */


/* Books */
.books-section{
  padding: 80px;
}

.books-container{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.books-row{
  margin-right: -15px;
  margin-left: -15px;
}

.book-column{
  width: 33.33333333%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
}

.book{
  margin-bottom: 30px;
  position: relative;
}

.product{
  position: relative;
  width: 100%;
  height: auto;
}

.book-img{
  display: block;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
}

.card-content{
  text-align: center;
}

.price{
  margin: 0 0 10px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}