
.App {
  text-align: center;
  /* box-sizing: border-box; */
}

/* fonts  */

body{
  background-color: #060e10;
  color: #fed0bb;
  padding: 0;
  margin: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* 
map */
#map{
  height: 400px;
  width: 100%;
}

/* NavBar */
  .nav-container{
    background-color: #FCB9B2;
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    text-align: center;
  }
  
  
  .nav-links{
    float: none;
    display: inline-block;
    padding-left: 0;
    list-style: none;
    padding: 0;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap');
  
  .nav-link a{
    text-decoration: none;
    position: static;
    float: left;
    margin: 20px;
    padding: 15px;
    color: #8C2F39;
    font-size: 23px;
    font-weight: bold;
    font-family: 'Supermercado One', cursive;
  }
  
  
  /* Books */
  .books-section{
    padding: 80px;
    display: block;
    box-sizing: border-box;
    flex-direction: row;
  }
  
  .books-container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .books-row{
    margin-right: -15px;
    margin-left: -15px;
  }
  
  .book-column{
    width: 33.33333333%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
  }
  
  .book{
    margin-bottom: 30px;
    position: relative;
  }
  
  .product{
    position: relative;
    width: 100%;
    height: auto;
  }
  
  .book-img{
    display: block;
    float: right;
    width:  300px;
    height: 500px;
    object-fit: cover;
    
  }
  
  .card-content{
    text-align: center;
  }
  
  .price{
    margin: 0 0 10px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }

  /* Login  */
  .login-container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Supermercado One', cursive;
  }

  .login-screen{
    background: linear-gradient(75deg, #461220, #8C2F39, #B23A48, #FCB9B2);		
	position: relative;	
	box-shadow: 0px 0px 24px #fed0bb;
  }

  .login-form{
    width: 320px;
    padding: 30px;
    padding-top: 156px;
  }

  .login-info{
  padding: 20px 0px;	
	position: relative;	
  }

  .login-input{
    border: none;
    border-bottom: 2px solid #FCB9B2;
    background: none;
    padding: 10px;
    padding-left: 24px;
    font-weight: 700;
    width: 75%;
    transition: .2s;
  }

.login-input:active,
.login-input:focus,
.login-input:hover {
	outline: none;
	border-bottom-color: #461220;
}

.login-button{
  font-family: 'Supermercado One', cursive;
	font-size: 14px;
	margin-top: 20px;
	padding: 15px;
	border-radius: 30px;
	border: 2px solid #D4D3E8;
	align-items: center;
	width: 100%;
	color: #461220;
	box-shadow: 0px 5px 5px #FCB9B2;
	transition: .2s;
  margin-bottom: 20px;
}

.login-button:active,
.login-button:focus,
.login-button:hover {
	border-color: #461220;
	outline: none;
}

/* Search  */
.search-container{
  font-family: 'Supermercado One', cursive;
	font-size: 14px;
	margin-top: 20px;
	padding: 15px;
	border-radius: 30px;
	border: 2px solid #D4D3E8;
	width: 50%;
	color: #461220;
	box-shadow: 0px 5px 5px #FCB9B2;
	transition: .2s;
  margin-bottom: 20px;
  margin: 0 auto;
  display: block;
}

.search-text{
  border: none;
  background: none;
  padding: 10px;
  padding-left: 24px;
  font-weight: 700;
  width: 75%;
  transition: .2s;
  color: #FCB9B2;
}

/* Reviews */
.reviews{
  overflow-y: scroll;
  background-color: #461220;
  width: 300px;
  height: 100px;
  
  
}

/* Home  */
.home-title{
  font-family: 'Supermercado One', cursive;
  text-align: center;
  font-size: 50px;
}

.subtitle{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.add-to-cart-button{
  font-family: 'Supermercado One', cursive;
	font-size: 12px;
	margin-top: 10px;
	padding: 10px;
	border-radius: 30px;
	border: 2px solid #D4D3E8;
	color: #461220;
	box-shadow: 0px 5px 5px #FCB9B2;

}

.user-title{
  font-size: 22px;
}

/* Cart */
.cart-subtitle{
  text-align: center;
  font-size: 25px;
  font-family: 'Supermercado One';
}

.cart-total{
  font-size: 20px;
  font-family: 'Supermercado One';
}

.cart-item-info{
  font-size: 20px;
}

.button{
  font-family: 'Supermercado One', cursive;
	font-size: 14px;
	margin-top: 20px;
	padding: 15px;
	border-radius: 15px;
	align-items: center;
}